<h1>2013 Umpire Rankings</h1>
<table>
	<thead>
		<th>Umpire</th>
		<th>Correct Calls (%)</th>
		<th>Total Correct Calls</th>
		<th>Total Incorrect Calls</th>
		<th>Total Calls</th>
	</thead>
	<tbody>
		<% @umpires.each do |umpire| %>
			<tr>
				<td><%=link_to umpire.name, umpire_path(umpire)%></td>
				<td><%= @umpire_hash[umpire.name][3].round(2) %></td>
				<td><%= @umpire_hash[umpire.name][0] %></td>
				<td><%= @umpire_hash[umpire.name][1] %></td>
				<td><%= @umpire_hash[umpire.name][2] %></td>
			</tr>
		<% end %>
	</tbody>
</table>