<table>
	<thead>
		<th>Umpire</th>
		<th>Calls Correct (%)</th>
		<th>Correct Calls</th>
		<th>Incorrect Calls</th>
		<th>Total Calls</th>
	</thead>
	<tbody>
		<% @umpire_array.each do |umpire| %>
			<tr>
				<td><%= umpire[0].name %></td>
				<td><%= umpire[1][3] %></td>
				<td><%= umpire[1][0] %></td>
				<td><%= umpire[1][1] %></td>
				<td><%= umpire[1][2] %></td>
			</tr>
		<% end %>
	</tbody>
</table>